    <p>
        <%= f.label :name %><br>
        <%= f.text_field(:name) %>
    </p>
    <p>
        <%= f.label :position %><br>
        <%= f.text_field(:position) %>
    </p>
    <p>
        <%= f.label :visible %><br>
        <%= f.text_field(:visible) %>
    </p>
